.arcade-machine {
    height: 1350px;
    width: 1350px;
    position: relative;
    margin: 25px auto;
    perspective: 35em;
}

.arcade-machine .top {
    height: 15%;
    width: 70%;
    position: absolute;
    top: 0%;
    left: 15%;
    background: #20155e;
    border: 5px solid #000000;
    z-index: 3;
}

.arcade-machine .top:before, .arcade-machine .top:after {
    height: 107%;
    width: 4%;
    position: absolute;
    top: -9%;
    background: #ec4848;
    border: 5px solid #000000;
    content: " ";
}

.arcade-machine .top:before {
    left: -5%;
}

.arcade-machine .top:after {
    right: -5%;
}

.logo {
    display: flex;
    justify-content: center;
    margin-left: 2.5%;
    margin-top: 1%;
    width: 900px;
    height: 180px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-left: 9.9%;
    margin-top: 1.5%;
    width: 1000px;
    height: 100px;
    cursor: pointer;
}

.arcade-machine .stripes {
    height: 100%;
    width: 10%;
    position: absolute;
    top: 0%;
    left: 45%;
    background: #ec4848;
}

.arcade-machine .stripes:before, .arcade-machine .stripes:after {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0%;
    content: " ";
}

.arcade-machine .stripes:before {
    background: #72AFF3;
    left: -100%;
}

.arcade-machine .stripes:after {
    background: #72AFF3;
    right: -100%;
}

.arcade-machine .screen-container {
    height: 50%;
    width: 62%;
    position: absolute;
    top: 15%;
    left: 19%;
    background: #210230;
    border: 5px solid #000000;
    z-index: 1;
}

.arcade-machine .screen-container:before, .arcade-machine .screen-container:after {
    height: 101.3%;
    width: 5%;
    position: absolute;
    top: -2%;
    background: #ec4848;
    content: " ";
    border: 5px solid #000000;
    z-index: 2;
}

.arcade-machine .screen-container:before {
    left: -6%;
}

.arcade-machine .screen-container:after {
    right: -6%;
}

.arcade-machine .screen-container .shadow {
    height: 8%;
    width: 112.2%;
    position: absolute;
    top: 0%;
    left: -6%;
    background: rgba(0, 0, 0, 0.351);
    z-index: 4;
}

.arcade-machine .screen-container .screen {
    height: 70%;
    width: 75%;
    position: absolute;
    top: 15%;
    left: 11%;
    background: #72AFF3;
    border: 5px solid #ec4848;
    border-radius: 90px 93px 93px 93px/15px 15px 15px 15px;
    overflow: hidden;
    text-align: center;
}

.arcade-machine .screen-container .screen h2 {
    position: absolute;
    left: 37.5%;
    top: 60%;
    color: #e0e0e0;
    font-family: "Orbitron", sans-serif, sans-serif;
}

.arcade-machine .screen-container .joystick {
    height: 6%;
    width: 5%;
    background: #ec4848;
    position: absolute;
    top: 93%;
    left: 17%;
    border-radius: 50%;
    border: 5px solid #1d1d1d;
    z-index: 3;
}

.arcade-machine .screen-container .joystick:before {
    height: 90%;
    width: 68%;
    position: absolute;
    top: 7%;
    left: 30%;
    background: #d33232;
    content: "";
    border-radius: 50%;
}

.arcade-machine .screen-container .joystick .stick {
    height: 200%;
    width: 45%;
    position: absolute;
    top: 100%;
    left: 28%;
    background: #1d1d1d;
    content: "";
}

.arcade-machine .screen-container .joystick .stick:before {
    height: 100%;
    width: 150%;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: -29%;
    background: #1d1d1d;
    content: "";
}

.arcade-machine .board {
    height: 20%;
    width: 73%;
    position: absolute;
    top: 61%;
    left: 14%;
    background: #210230;
    transform: rotateX(70deg);
}

.arcade-machine .board:before, .arcade-machine .board:after {
    height: 98.5%;
    width: 5.5%;
    position: absolute;
    top: -2%;
    background: #ec4848;
    content: " ";
    border: 5px solid #000000;
    z-index: 2;
}

.arcade-machine .board:before {
    left: -6%;
}

.arcade-machine .board:after {
    right: -6%;
}

.arcade-machine .board .button {
    height: 15%;
    width: 6%;
    position: absolute;
    top: 40%;
    left: 30%;
    border-radius: 50%;
    border: 5px solid #1d1d1d;
}

.arcade-machine .board .button-a {
    background: #72AFF3;
    left: 40%;
}

.arcade-machine .board .button-b {
    background: #ec4848;
    left: 55%;
}

.arcade-machine .board .button-c {
    background: #72AFF3;
    left: 70%;
}

.arcade-machine .bottom {
    height: 10%;
    width: 93%;
    position: absolute;
    top: 81.5%;
    left: 3.8%;
    background: #20155e;
    border: 4px solid #000000;
}

.arcade-machine .bottom:before, .arcade-machine .bottom:after {
    height: 100%;
    width: 6.3%;
    position: absolute;
    top: -1%;
    background: #ec4848;
    content: " ";
    border: 2.5px solid #000000;
    z-index: 1;
}

.arcade-machine .bottom:before {
    left: -7%;
}

.arcade-machine .bottom:after {
    right: -7%;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 99%;
  }
  
#grid {
    display: flex;
    flex-direction: column;
    margin-left: 20%;
    margin-top: 2%;
    width: 390px;
    height: 390px;
}
  
.row {
    display: flex;
}

.cell {
    font-size: 77px;
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
    -webkit-text-stroke: 1.9px #20155e;
    width: 133px;
    height: 133px;
    border: 1.9px solid #ec4848;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cell:hover {
    background: #ec4848;
    border: 1.9px solid #20155e;
}
  
.winner {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    font-family: 'Press Start 2P', cursive;
    color: goldenrod;
    -webkit-text-stroke: 1.25px #20155e;
    margin-top: 30px;
    margin-left: 2%;
    visibility: hidden;
}

.restart {
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
    height: 35px;
    border-radius: 6px;
    background: #ec4848;
    color: goldenrod;
    -webkit-text-stroke: 1.25px #20155e;
    margin-left: 2%;
    cursor: pointer;
}

.restart:hover {
    background: #20155e;
    -webkit-text-stroke: 1.25px #ec4848;
}
